
/* Global Styles */
body {
  height: 100%;
  width: 100%;
  background-color: #228;
}

h2 {
  font-size: 40px;
  text-shadow: 4px 4px #11360D;
  color: #99C;
}

h3 {
  font-size: 30px;
  color: #99C;
}

h4 {
  font-size: 25px;
  color: #99C;
}

/* PORTAL ENTRY TO APP */

.portal-container {
  display: block;
  width: 400px;
  height: 400px;
}

.portal-logo {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

/* NAV */

.nav-all {
  background-color: #42A;
}

.logo-link {
  font-size: 60px;
  text-shadow: 4px 4px #11360D;
  text-decoration: none;
  color: #99C;
}

.logo-text {
  margin-left: 300px;
  text-align: center;
}

.nav-container {
  display: flex;
}

.nav-buttons {
  display: flex;
}

.user-img {
  display: flex;
  width: 90px;
  height: 100px;
}

.logo-img {
  display: flex;
  width: auto;
  height: 100px;
}

/* USER HOME */

.viewGearContainer {
  display: inline-block;
  margin: 15px 400px;
  padding-right: 4px;
  width: 600px;
  height: 600px;
  color: #000;
  background-color: #24D;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  overflow: auto;
}


.viewGearContainer h2 {
  text-decoration: underline overline;
  text-align: center;
}

.viewGearContainer h3 {
  text-decoration: underline;
}

.viewUserGear {
  background-color: #002;
}

.viewGearItem {
  padding: 20px 20px;
}

.viewGearPhoto {
  width: 350px;
  height: 140px;
  color: red;
  border-style: groove;
  border-color: red;
}

#gearImg {
  width: 350px;
  height: 140px;
}

/* VIEW ALL USERS */

.viewOneUser {
  margin: 15px 250px;
  padding-right: 4px;
  width: 600px;
  height: 600px;
  color: #000;
  background-color: #24D;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  overflow: auto;
}

.viewUserPhoto {
  min-width:80px;
  max-width: 100px;
  min-height: 140px;
  max-height: 200px;
  margin: 0 5;
}

/* USER EDIT PAGE */

.editUserPage-container {
  display: flex;
}

.editUserForm-container {
  display: flex;
  margin-right: 10px;
  background-color: #005;
}

.VGC-editPage {
  overflow: auto;
}

/* SEARCH USERS PAGE */

.show-all-users-title {
  text-align: center;
  font-size: 100px;
  color: #336;
}

/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.footer-link {
  display: inline-block;
}

/* FORM STYLES */

.formLabel {
  font-size: 30px;
  text-shadow: 3px 3px #11360D;
  color: #99C;
}

.hidden-ui {
  display: none;
}

/* BUTTONS */

.button {
  margin: 10px 10px;
}

.nav-buttons {
  margin-left: 200px;
  display: inline-flex;
  width: 100px;
  height: 100px;
}

/* ANIMATIONS */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}
