
/* Global Styles */
body {
  height: 100%;
  width: 100%;
  background-color: #46D;
}

h2 {
  font-size: 40px;
  text-shadow: 4px 4px #11360D;
  color: #99C;
}

h3 {
  font-size: 30px;
  color: #99C;
}

h4 {
  font-size: 25px;
  color: #99C;
}

/* PORTAL ENTRY TO APP */

.portal-container {
  display: block;
  width: 400px;
  height: 400px;
}

.portal-logo {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

/* NAV */

.logo-link {
  font-size: 60px;
  text-shadow: 4px 4px #11360D;
  text-decoration: none;
  color: #99C;
}

.logo-text {
  margin-left: 200px;
  text-align: center;
}

.nav-container {
  display: flex;
}

/* USER HOME */

.viewGearContainer {
  margin: 15px 250px;
  padding-right: 4px;
  width: 600px;
  height: 600px;
  color: #000;
  background-color: #24D;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  overflow: auto;
}


.viewGearContainer h2 {
  text-decoration: underline overline;
  text-align: center;
}

.viewGearContainer h3 {
  text-decoration: underline;
}

.viewUserGear {
  background-color: #002;
}
/* VIEW ALL USERS */

.viewOneUser {
  margin: 15px 250px;
  padding-right: 4px;
  width: 600px;
  height: 600px;
  color: #000;
  background-color: #24D;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,6,0.75);
  overflow: auto;
}

/* USER EDIT PAGE */

.editUserPage-container {
  display: flex;
}

.editUserForm-container {
  background-color: #005;
}

.VGC-editPage {
  display: inline-flex;
}


/* FORM STYLES */

.formLabel {
  font-size: 30px;
  text-shadow: 3px 3px #11360D;
  color: #99C;
}

.hidden-ui {
  display: none;
}

/* BUTTONS */

.button {
  margin: 10px 10px;
}

.nav-buttons {
  margin-left: 200px;
  display: inline-flex;
  width: 100px;
  height: 100px;
}

/* ANIMATIONS */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}
